{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "vitest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:jsdoc/recommended-typescript-flavor",
        "plugin:vitest/recommended"
    ],
    "plugins": [ "@typescript-eslint", "jsdoc", "vitest" ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module",
        "project": "tsconfig.json"
    },
    "overrides": [{
        "files": [ "tests/**/*.test.js" ],
        "rules": {
            "no-undef": "off",
            "@typescript-eslint/ban-ts-comment": "off"
        }
    }],
    "ignorePatterns": [
        "**/typings/**/*.d.ts",
        "**/*.cjs",
        "coverage/",
        "node_modules/",
        "rollup.config.js"
    ],
    "rules": {
        // ESLint
        "arrow-parens": "warn",
        "comma-dangle": [ "warn", "always-multiline" ],
        "eol-last": "warn",
        "indent": [ "warn", 4, { "SwitchCase": 1 } ],
        "max-len": [ "warn", 120 ],
        "no-console": "warn",
        "no-case-declarations": "off",
        "object-curly-spacing": [ "warn", "always" ],
        "quotes": [ "warn", "double" ],
        "quote-props": [ "warn", "consistent" ],
        "require-jsdoc": "warn",
        "semi": "error",

        // JSDoc
        "jsdoc/no-undefined-types": "error"
    }
}
