root: true
parser: "@typescript-eslint/parser"
plugins:
  - "@typescript-eslint"
  - "eslint-plugin-tsdoc"
extends:
  - "eslint:recommended"
  - "plugin:@typescript-eslint/recommended"
  - "prettier"
rules:
  arrow-parens:         ["error"]
  comma-dangle:         ["error", "always-multiline"]
  eol-last:             ["error"]
  indent:               ["error", 4, { "SwitchCase": 1 }]
  linebreak-style:      ["error", "unix"]
  max-len:              ["warn", 120]
  no-console:           ["warn"]
  no-case-declarations: ["off"]
  object-curly-spacing: ["error", "always"]
  quotes:               ["error", "double"]
  quote-props:          ["error", "consistent"]
  semi:                 ["error"]
  "tsdoc/syntax":       ["warn"]
