# Ignore the following directories.
.idea/
.github/
src/

# Ignore the following config files.
.eslintignore
.eslintrc
.prettierrc
tsconfig.json

# Ignore any root level typescript files used to testing.
*.ts
!*.d.ts
