printWidth: 120
tabWidth: 4
useTabs: false
semi: true
singleQuote: false
quoteProps: "consistent"
trailingComma: "all"
bracketSpacing: true
arrowParens: "always"
proseWrap: "always"
endOfLine: "lf"
plugins:
  - "@trivago/prettier-plugin-sort-imports"
  - "prettier-plugin-jsdoc"

importOrderSeparation: true
importOrderSortSpecifiers: true
importOrderGroupNamespaceSpecifiers: true
importOrder:
  - "^[./]"
  - "@(.*)$"

jsdocSingleLineComment: false
jsdocCapitalizeDescription: true
jsdocPreferCodeFences: true
jsdocPrintWidth: 108
tsdoc: true
